.box {
    background-color: yellow;
}

.dishes {
    
    color: yellowgreen;
    
    text-align: center;
    align-content: center;
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
    
}

.dish {
    
    width: 200px;
    text-align: center;
    justify-items: center;
    background-color: blue;
}

img {
    width: 100%;
}

.box-title {
   
    text-align: center;
}